<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="/css/typea-service.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="/js/jquery-1.4.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.numberformatter-1.1.2.min.js"></script>
	<script type="text/javascript" src="/js/jquery.corner.js"></script>
	<script type="text/javascript" src="/js/typea-service.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		initial_message_area();
	});
	</script>
	{% block html_header %}
	{% endblock %}
</head>
<body>
	<div id="headbar">
		{{settings.user_nickname}}
		|
		<a href="{{settings.user_login_url}}">login</a>
		|
		<a href="{{settings.user_logout_url}}">logout</a>
	</div>
	<div id="sidebar">
		<a href="/cocomo">COCOMO</a><br>
		<a href="/fp">Function Point</a><br>
	</div>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
	<div id="loading" style="display:none"></div>
	<div id="message" style="display:none"></div>
</body>
</html>