{% extends "base.html" %}
{% block html_header %}

	<script type="text/javascript" src="/js/jquery-ui-1.7.2.custom.min.js"></script>
	<script type="text/javascript" src="/js/jquery.chromatable.js"></script>
	<script type="text/javascript"><!-- 
	$(document).ready(function(){

		$("#project_table").chromatable({
			width:    "540px",
			height:   "120px",
			scrolling:  "yes"
		});

		$("#function_table").chromatable({
			width:    "786px",
			height:   "240px",
			scrolling:  "yes"
		});

		$("#project_profile_btn").click(function(){
			toggle_visble($("#new_project_profile"));
		});
		$("#create_project_btn").click(create_project);
		$("#update_project_btn").click(update_project);
		$("#delete_project_btn").click(delete_project);

		$("#add_data_function_btn").click(add_data_function);
		$("#add_tran_function_btn").click(add_tran_function);
		
		
		$.getJSON("/fp/projects/load",load_projects); 

	});

	function load_projects(json) {
		if (json.error) {
			error_msg(json.error);
		} else {
			$("#project_table tbody").empty();
			$("#function_table tbody").empty();
			
			for (var i=0; i< json.items.length; i++) {
				$("#project_table tbody").append(projecttable_row(json.items[i]));
			}
		}
		processing_msg();
	}

	function load_project(json) {
		if (json.error) {
			error_msg(json.error);
		} else {
			$("#function_table tbody").empty();
			
			var tr = projecttable_row(json)
			$("#project_table tbody").append(tr);
			project_selected(tr);
		}
		processing_msg();
	}

	function create_project() {
		var url = "/fp/projects/create";

		var data = new Object();
		data['project_profile_system_name']      = $("#project_profile_system_name").val();
		data['project_profile_application_name'] = $("#project_profile_application_name").val();
		data['project_profile_mesurement_type']  = $("#project_profile_mesurement_type").val();
		
		error_msg();
		processing_msg(PROCESSING_MSG);

		$.getJSON(url, data, load_project); 
	}

	function update_project() {
		var url = "/fp/projects/update";

		var data = new Object();
		data['project_profile_key'] 			 = $("#project_profile_key").val();
		data['project_profile_system_name']      = $("#project_profile_system_name").val();
		data['project_profile_application_name'] = $("#project_profile_application_name").val();
		data['project_profile_mesurement_type']  = $("#project_profile_mesurement_type").val();

		error_msg();
		processing_msg(PROCESSING_MSG);

		$.getJSON(url, data, load_projects); 
	}

	function delete_project() {
		var url = "/fp/projects/delete";

		var data = new Object();
		data['project_profile_key'] = $("#project_profile_key").val();
		
		error_msg();
		processing_msg(PROCESSING_MSG);

		$.getJSON(url, data, load_projects); 
	}

	function project_selected(tr) {
		$("#project_table tbody tr").removeClass("selected_row");
		tr.addClass("selected_row");
		tr.children("td").children("input:radio").attr("checked","checked");
	}
	function set_project_profile(tr) {
		
		var cols = tr.children();
		var project_key = $(cols[0]).children("input:radio").val();
		$("#project_profile_key").val(project_key);
		$("#project_profile_system_name").val($(cols[1]).text());
		$("#project_profile_application_name").val($(cols[2]).text());
		$("#project_profile_mesurement_type").val($(cols[3]).children("input:hidden").val());

		var url = "/fp/function/load";
		var data = new Object();
		data['project_key'] = project_key;

		error_msg();
		processing_msg(PROCESSING_MSG);

		$.getJSON(url, data, load_functions); 
	}
	function projecttable_row(row) {
		var tr = $("<tr>")
		tr.click(function(){
			project_selected($(this));
			set_project_profile($(this));
		});
		tr.append("<td><input type='radio' name='sel_project' value='" + row.key + "'/></td>" + 
				  "<td>" + row.system_name + "</td>" +
			      "<td>" + row.application_name + "</td>" +
        	      "<td><input type='hidden' value='" + row.mesurement_type + "'>" + row.mesurement_type_name + "</td>"
				);
		return tr;
	}

	function add_data_function() {
		var url = "/fp/function/add";

		var data = new Object();
		data['function_type'] = 'data';
		data['project_key'] = $("#project_profile_key").val();
		
		error_msg();
		processing_msg(PROCESSING_MSG);

		$.getJSON(url, data, load_function); 
	}

	function add_tran_function() {
		var url = "/fp/function/add";

		var data = new Object();
		data['function_type'] = 'tran';
		data['project_key'] = $("#project_profile_key").val();
		
		error_msg();
		processing_msg(PROCESSING_MSG);

		$.getJSON(url, data, load_function); 
	}
	
	function load_function(json) {
		if (json.error) {
			error_msg(json.error);
		} else {
			var tr = functiontable_row(json)
			$("#function_table tbody").append(tr);
			total_unadjusted_fp();
		}
		processing_msg();
	}
	
	function load_functions(json) {
		if (json.error) {
			error_msg(json.error);
		} else {
			$("#function_table tbody").empty();
			for (var i=0; i< json.items.length; i++) {
				$("#function_table tbody").append(functiontable_row(json.items[i]));
			}
			total_unadjusted_fp();
		}
		processing_msg();
	}

	function func_data_change(row_id) {
		var tr = $("#" + row_id);
		var function_name = tr.children("td").children("input:text[name=function_name]").val();
		var function_category = tr.children("td").children("select[name=function_category]").val();
		var measurement_index1 = tr.children("td").children("input:text[name=measurement_index1]").val();
		var measurement_index2 = tr.children("td").children("input:text[name=measurement_index2]").val();

		var url = "/fp/function/update";

		var data = new Object();
		data['key'] = row_id;
		data['function_name'] = function_name;
		data['function_category'] = function_category;
		data['measurement_index1'] = measurement_index1;
		data['measurement_index2'] = measurement_index2;

		
		error_msg();
		processing_msg(PROCESSING_MSG);

		$.getJSON(url, data, update_function); 
	}
	function update_function(json) {
		if (json.error) {
			error_msg(json.error);
		} else {
			var tr = $("#" + json.key);
			tr.children(".complexity").text(json.complexity);
			tr.children(".function_point").text(json.function_point)
				.format({format:"####.00",locale:"jp"}).addClass("num-field");
			total_unadjusted_fp();
		}
		processing_msg();
	}
	function functiontable_row(row) {
		var row_id = row.key;
		var change_event_html = " onchange='javascript:func_data_change(\"" + row_id + "\");'";
		
		var tr = $("<tr id='" + row_id + "'>")
		var cel1 = $("<td>")
			var txt_func_name = $("<input type='text' name='function_name' value='" + row.function_name + "'" + change_event_html + "/>");
			cel1.append(txt_func_name);
			
			var hdn_key = $("<input type='hidden' value='" + row.key + "'/></td>");
			cel1.append(hdn_key);
		tr.append(cel1);

		var cel2 = $("<td>");	
		var sel = $("<select name='function_category'" + change_event_html + ">");
			var op_html_data = ''
			{% for itm in datafunction_type %}
				op_html_data += "<option value='{{itm.0}}'>{{itm.1}}</option>" 
			{% endfor %}
			;
			var op_html_tran = ''
			{% for itm in tranfunction_type %}
				op_html_tran += "<option value='{{itm.0}}'>{{itm.1}}</option>" 
			{% endfor %}
			;
			if (row.function_type == 'data') {
				sel.append(op_html_data);
			} else if
			   (row.function_type == 'tran') {
				sel.append(op_html_tran);
			}	
			sel.val(row.function_category);
			cel2.append(sel);
		
		tr.append(cel2);
	
		var cel3 = $("<td>")
			var txt_measurement_index1 = $("<input type='text' name='measurement_index1' size='4' value='" + row.measurement_index1 + "'" + change_event_html + "/>");
			cel3.append(txt_measurement_index1);
		tr.append(cel3);
	
		var cel4 = $("<td>")
			var txt_measurement_index2 = $("<input type='text' name='measurement_index2' size='4' value='" + row.measurement_index2 + "'" + change_event_html + "/>");
			cel4.append(txt_measurement_index2);
		tr.append(cel4);
	
		var cel5 = $("<td class='complexity'>" + row.complexity + "</td>");
		tr.append(cel5);
	
		var cel6 = $("<td class='function_point'>");
		cel6.text(row.function_point).format({format:"####.00",locale:"jp"}).addClass("num-field");

		tr.append(cel6);
		return tr;

	}
	function total_unadjusted_fp() {
		var fps = $("#function_table tbody").children("tr").children(".function_point")
		var ttl = 0.0;
		for (var i=0; i<fps.length; i++) {
			ttl += Number($(fps[i]).text());
		}
		$("#unadjusted_fp_total").text(ttl).format({format:"####.00",locale:"jp"}).addClass("num-field");
	}
	//--></script>
	<title></title>
{% endblock %}
{% block content %}
	<h1>ファンクションポイント</h1>
	
	<h3><a href="javascript:;" id="project_profile_btn">プロジェクトの作成 編集</a></h3>
	<div id="new_project_profile" style="display:none;">
		<a href="javascript:;" id="create_project_btn">新規作成</a> |
		<a href="javascript:;" id="update_project_btn">更新</a> |
		<a href="javascript:;" id="delete_project_btn">削除</a>
		<input type="hidden" id="project_profile_key" value=""/>
		<table class="layout">
			<tr>
				<td class="layout">システム</td>
				<td class="layout"><input type="text" id="project_profile_system_name" value="" maxlength="30"/></td>
			</tr>
			<tr>
				<td class="layout">アプリケーション</td>
				<td class="layout"><input type="text" id="project_profile_application_name" value="" maxlength="30"/></td>
			</tr>
			<tr>
				<td class="layout">計測タイプ</td>
				<td class="layout">
					<select id="project_profile_mesurement_type">
					{% for itm in mesurement_type %}
						<option value="{{itm.0}}">{{itm.1}}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
		
		</table>
	</div>
	<table id="project_table" style="width:520px;table-layout: fixed;">
		<col width="20px;"/>
		<col width="200px;"/>
		<col width="200px;"/>
		<col width="100px;"/>
		<thead><tr><th></th><th>システム</th><th>アプリケーション</th><th>計測タイプ</th></tr></thead>
		<tbody></tbody>
	</table>
	<br/>
	<a href="javascript:;" id="add_data_function_btn">データファンクションの追加</a>
	|
	<a href="javascript:;" id="add_tran_function_btn">トランザクショナルファンクションの追加</a>
	<table id="function_table" style="width:767px;table-layout: fixed;">
		<col width="200px;"/>
		<col width="240px;"/>
		<col width="80px;"/>
		<col width="80px;"/>
		<col width="80px;"/>
		<col width="80px;"/>
		<thead><tr><th>要素処理名</th><th>区分</th><th>DET</th><th>RET/FTR</th><th>複雑度</th><th>FP</th></tr></thead>
		<tbody></tbody>
	</table>
	<div style="width:786px;border-left:#cccccc 1px solid;border-right:#cccccc 1px solid;border-bottom:#cccccc 1px solid;padding-right:17px;">
		<table id="function_total_table" style="width:767px;table-layout: fixed;">
			<col width="704px"/>
			<col width="80px"/>
			<tbody>
				<tr>
					<th>合計(未調整FP値)</th>
					<td id="unadjusted_fp_total"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
{% endblock %}