<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="http://typea.info/tips/theme/dark/dark.css" type="text/css" rel="stylesheet">
<style type="text/css">
.table_layout {
	border:none
}
</style>
<title>Searching About '{{query}}' (powered by yahoo API)</title>
</head>
<body>
<h1>MyMemoSearch</h1>
<!-- MicroAd From -->
<script type="text/javascript"><!--
in_uid = '217910';
in_templateid = '12014';
in_charset = 'UTF-8';
in_group = 'DefaultGroup';
in_matchurl = '';
in_HBgColor = 'FFFFFF';
in_HBorderColor = 'FFFFFF';
in_HTitleColor = '663399';
in_HTextColor = '000000';
in_HUrlColor = '336600';
frame_width = '728';
frame_height = '90';
--></script>
<script type='text/javascript' src='http://cache.microad.jp/send0100.js'></script>
<!-- MicroAd TO -->
    <hr>
	<form action="/yh_s">
        search keyword:<input type="text" name="q" value="{{query}}">
        <input type="submit" value="検索">
		<a href='{{prev_page_url}}'>&lt;</a>
		{{first_result_position}}-{{end_position}}/{{total_results_available}}
		<a href='{{next_page_url}}'>&gt;</a>
    </form>
	<hr>
	<table class="table_layout">
		<col width='15%'>
		<col width='*'>
		<col width='25%'>
      	<tr class="table_layout">
      	<td class="table_layout" valign="top">
      	  <h2><a href='http://typea.info'>Home</a></h2>
      	  <ul>
      	  	<li><a href='http://typea.info/tips/'>MyMemoWiki</a></li>
      	  	<li><a href='http://typea.info/blg/glob/'>グロブ</a></li>
      	  </ul>
	        {% for most_item in most_refer %}
	            	{{most_item.word}}
	        {% endfor %}
      	  
      	</td>
      	<td class="table_layout">      
        {% for item in items %}
        	<h3><a href="{{item.click_url}}">{{item.title}}</a></h3>
            <ul>
            	<li>{{item.summary}}
            </ul>
        {% endfor %}
		</td>
      	<td class="table_layout" valign="top" style="font-size:small;">
      		<h3>関連語</h3>
	      	{% for item in parsed_items %}
	        	<a href='/yh_s?q={{item.encoded_word}}' style='{{item.font_style}}'>{{item.word}}</a> 
	        {% endfor %}
      	</td>
		</tr>
	</table>
<!-- MicroAd From -->
<script type="text/javascript"><!--
in_uid = '217910';
in_templateid = '12014';
in_charset = 'UTF-8';
in_group = 'DefaultGroup';
in_matchurl = '';
in_HBgColor = 'FFFFFF';
in_HBorderColor = 'FFFFFF';
in_HTitleColor = '663399';
in_HTextColor = '000000';
in_HUrlColor = '336600';
frame_width = '728';
frame_height = '90';
--></script>
<script type='text/javascript' src='http://cache.microad.jp/send0100.js'></script>
<!-- MicroAd TO -->
</body>
</html>