{% extends "base.html" %}
{% block html_header %}

	<script type="text/javascript" src="/js/jquery-ui-1.7.2.custom.min.js"></script>
	<script type="text/javascript" src="/js/jquery.chromatable.js"></script>
	<script type="text/javascript"><!-- 
	$(document).ready(function(){

		$("#project_table").chromatable({
			width:    "540px",
			height:   "120px",
			scrolling:  "yes"
		});

		$("#function_table").chromatable({
			width:    "786px",
			height:   "220px",
			scrolling:  "yes"
		});

		$("#project_profile_btn").click(edit_project);
		$("#img_open_prj_edit").click(edit_project);
		
		$("#create_project_btn").click(create_project);
		$("#img_new_prj").click(create_project);
		$("#update_project_btn").click(update_project);
		$("#img_edit_prj").click(update_project);
		$("#delete_project_btn").click(delete_project);
		$("#img_del_prj").click(delete_project);

		$("#add_data_function_btn").click(add_data_function);
		$("#img_add_dat").click(add_data_function);
		$("#add_tran_function_btn").click(add_tran_function);
		$("#img_add_trn").click(add_tran_function);

		
		bind_help_text('img_help_mesurment_type', 'txt_help_mesurment_type');
		bind_help_text('img_help_mesurement_steps', 'txt_help_mesurement_steps');
		bind_help_text('img_data_function', 'txt_data_function');
		bind_help_text('img_tran_function', 'txt_tran_function');
		
		$.getJSON("/fp/projects/load",load_projects); 

	});
	function bind_help_text(icon_id, txt_id) {
		$('#' + icon_id).bt(
				$("#" + txt_id).html(),
				{
				    fill: '#FFF',
				    cornerRadius: 10,
				    strokeWidth: 0,
				    shadow: true,
				    shadowOffsetX: 3,
				    shadowOffsetY: 3,
				    shadowBlur: 8,
				    shadowColor: 'rgba(0,0,0,.9)',
				    shadowOverlap: false,
				    noShadowOpts: {strokeStyle: '#999', strokeWidth: 2},
				    positions: ['right', 'top']
				  });
	}
	
	function edit_project() {
		toggle_visble($("#new_project_profile"));
	}
	function load_projects(json) {
		if (json.error) {
			error_msg(json.error);
		} else {
			$("#project_table tbody").empty();
			$("#function_table tbody").empty();
			
			for (var i=0; i< json.items.length; i++) {
				$("#project_table tbody").append(projecttable_row(json.items[i]));
			}
		}
		processing_msg();
	}

	function load_project(json) {
		if (json.error) {
			error_msg(json.error);
		} else {
			$("#function_table tbody").empty();
			
			var tr = projecttable_row(json)
			$("#project_table tbody").append(tr);

			var cols = tr.children();
			var project_key = $(cols[0]).children("input:radio").val();
			$("#project_profile_key").val(project_key);
			
			project_selected(tr);
		}
		processing_msg();
	}

	function create_project() {
		var url = "/fp/projects/create";

		var data = new Object();
		data['project_profile_system_name']      = $("#project_profile_system_name").val();
		data['project_profile_application_name'] = $("#project_profile_application_name").val();
		data['project_profile_mesurement_type']  = $("#project_profile_mesurement_type").val();
		
		error_msg();
		processing_msg(PROCESSING_MSG);

		$.getJSON(url, data, load_project); 
	}

	function update_project() {
		var url = "/fp/projects/update";

		var data = new Object();
		data['project_profile_key'] 			 = $("#project_profile_key").val();
		data['project_profile_system_name']      = $("#project_profile_system_name").val();
		data['project_profile_application_name'] = $("#project_profile_application_name").val();
		data['project_profile_mesurement_type']  = $("#project_profile_mesurement_type").val();

		error_msg();
		processing_msg(PROCESSING_MSG);

		$.getJSON(url, data, load_projects); 
	}

	function delete_project() {
		var url = "/fp/projects/delete";

		var data = new Object();
		data['project_profile_key'] = $("#project_profile_key").val();
		$("#project_profile_key").val('');
		
		error_msg();
		processing_msg(PROCESSING_MSG);

		$.getJSON(url, data, load_projects); 
	}

	function project_selected(tr) {
		$("#project_table tbody tr").removeClass("selected_row");
		tr.addClass("selected_row");
		tr.children("td").children("input:radio").attr("checked","checked");
	}
	function set_project_profile(tr) {
		
		var cols = tr.children();
		var project_key = $(cols[0]).children("input:radio").val();
		$("#project_profile_key").val(project_key);
		$("#project_profile_system_name").val($(cols[1]).text());
		$("#project_profile_application_name").val($(cols[2]).text());
		$("#project_profile_mesurement_type").val($(cols[3]).children("input:hidden").val());

		var url = "/fp/function/load";
		var data = new Object();
		data['project_key'] = project_key;

		error_msg();
		processing_msg(PROCESSING_MSG);

		$.getJSON(url, data, load_functions); 
	}
	function projecttable_row(row) {
		var tr = $("<tr>")
		tr.click(function(){
			project_selected($(this));
			set_project_profile($(this));
		});
		tr.append("<td><input type='radio' name='sel_project' value='" + row.key + "'/></td>" + 
				  "<td>" + row.system_name + "</td>" +
			      "<td>" + row.application_name + "</td>" +
        	      "<td><input type='hidden' value='" + row.mesurement_type + "'>" + row.mesurement_type_name + "</td>"
				);
		return tr;
	}

	function add_data_function() {
		var url = "/fp/function/add";

		var data = new Object();
		data['function_type'] = 'data';
		data['project_key'] = $("#project_profile_key").val();
		
		error_msg();
		processing_msg(PROCESSING_MSG);

		$.getJSON(url, data, load_function); 
	}

	function add_tran_function() {
		var url = "/fp/function/add";

		var data = new Object();
		data['function_type'] = 'tran';
		data['project_key'] = $("#project_profile_key").val();
		
		error_msg();
		processing_msg(PROCESSING_MSG);

		$.getJSON(url, data, load_function); 
	}
	
	function load_function(json) {
		if (json.error) {
			error_msg(json.error);
		} else {
			var tr = functiontable_row(json)
			$("#function_table tbody").append(tr);
			total_unadjusted_fp();
		}
		processing_msg();
	}
	
	function load_functions(json) {
		if (json.error) {
			error_msg(json.error);
		} else {
			$("#function_table tbody").empty();
			for (var i=0; i< json.items.length; i++) {
				$("#function_table tbody").append(functiontable_row(json.items[i]));
			}
			total_unadjusted_fp();
		}
		processing_msg();
	}

	function func_data_change(row_id) {
		var tr = $("#" + row_id);
		var function_name = tr.children("td").children("input:text[name=function_name]").val();
		var function_category = tr.children("td").children("select[name=function_category]").val();
		var measurement_index1 = tr.children("td").children("input:text[name=measurement_index1]").val();
		var measurement_index2 = tr.children("td").children("input:text[name=measurement_index2]").val();

		var url = "/fp/function/update";

		var data = new Object();
		data['key'] = row_id;
		data['function_name'] = function_name;
		data['function_category'] = function_category;
		data['measurement_index1'] = measurement_index1;
		data['measurement_index2'] = measurement_index2;
		
		error_msg();
		processing_msg(PROCESSING_MSG);

		$.getJSON(url, data, update_function); 
	}
	function update_function(json) {
		if (json.error) {
			error_msg(json.error);
		} else {
			var tr = $("#" + json.key);
			tr.children(".complexity").text(json.complexity);
			tr.children(".function_point").text(json.function_point)
				.format({format:"####.00",locale:"jp"}).addClass("num-field");
			total_unadjusted_fp();
		}
		processing_msg();
	}
	function delete_function_btn(row_id) {
		var tr = $("#" + row_id);

		var url = "/fp/function/delete";

		var data = new Object();
		data['key'] = row_id;
		
		error_msg();
		processing_msg(PROCESSING_MSG);

		$.getJSON(url, data, delete_function); 
	}
	function delete_function(json) {
		if (json.error) {
			error_msg(json.error);
		} else {
			var tr = $("#" + json.key);
			tr.empty();
			total_unadjusted_fp();
		}
		processing_msg();
	}
	function functiontable_row(row) {
		var row_id = row.key;
		var change_event_html = " onchange='javascript:func_data_change(\"" + row_id + "\");'";
		
		var tr = $("<tr id='" + row_id + "'>")
		var cel1 = $("<td>")
			var img_del = $("<img src='/images/del.gif' border='0' onclick='javascript:delete_function_btn(\"" + row_id + "\");'/>");
			cel1.append(img_del);

			cel1.append(" ");
			var txt_func_name = $("<input type='text' name='function_name' value='" + row.function_name + "'" + change_event_html + "/>");
			cel1.append(txt_func_name);
			
			var hdn_key = $("<input type='hidden' value='" + row.key + "'/></td>");
			cel1.append(hdn_key);
		tr.append(cel1);

		var cel2 = $("<td>");	
		var sel = $("<select name='function_category'" + change_event_html + ">");
			var op_html_data = ''
			{% for itm in datafunction_type %}
				op_html_data += "<option value='{{itm.0}}'>{{itm.1}}</option>" 
			{% endfor %}
			;
			var op_html_tran = ''
			{% for itm in tranfunction_type %}
				op_html_tran += "<option value='{{itm.0}}'>{{itm.1}}</option>" 
			{% endfor %}
			;
			if (row.function_type == 'data') {
				sel.append(op_html_data);
			} else if
			   (row.function_type == 'tran') {
				sel.append(op_html_tran);
			}	
			sel.val(row.function_category);
			cel2.append(sel);
		
		tr.append(cel2);
	
		var cel3 = $("<td>")
			var txt_measurement_index1 = $("<input type='text' name='measurement_index1' size='4' value='" + row.measurement_index1 + "'" + change_event_html + "/>");
			cel3.append(txt_measurement_index1);
		tr.append(cel3);
	
		var cel4 = $("<td>")
			var txt_measurement_index2 = $("<input type='text' name='measurement_index2' size='4' value='" + row.measurement_index2 + "'" + change_event_html + "/>");
			cel4.append(txt_measurement_index2);
		tr.append(cel4);
	
		var cel5 = $("<td class='complexity'>" + row.complexity + "</td>");
		tr.append(cel5);
	
		var cel6 = $("<td class='function_point'>");
		cel6.text(row.function_point).format({format:"####.00",locale:"jp"}).addClass("num-field");

		tr.append(cel6);
		return tr;

	}
	function total_unadjusted_fp() {
		var fps = $("#function_table tbody").children("tr").children(".function_point")
		var ttl = 0.0;
		for (var i=0; i<fps.length; i++) {
			ttl += Number($(fps[i]).text());
		}
		$("#unadjusted_fp_total").text(ttl).format({format:"####.00",locale:"jp"}).addClass("num-field");
	}
	//--></script>
	<title></title>
{% endblock %}
{% block content %}
	<h1>ファンクションポイント</h1>
	
	<h2>未調整ファンクションポイント値の算出 <img src='/images/help.gif' id="img_help_mesurement_steps" border='0'/></h2>
	<h3><img src='/images/open_prj_edit.gif' id="img_open_prj_edit" border='0'/> <a href="javascript:;" id="project_profile_btn">プロジェクトの作成 編集</a></h3>
	<div id="new_project_profile" style="display:none;">
		<img src='/images/new_prj.gif' id="img_new_prj" border='0'/>
		<a href="javascript:;" id="create_project_btn">新規作成</a> |
		<img src='/images/edit_prj.gif' id="img_edit_prj" border='0'/>
		<a href="javascript:;" id="update_project_btn">更新</a> |
		<img src='/images/del_prj.gif' id="img_del_prj" border='0'/>
		<a href="javascript:;" id="delete_project_btn">削除</a>
		<input type="hidden" id="project_profile_key" value=""/>
		<table class="layout">
			<tr>
				<td class="layout">システム</td>
				<td class="layout"><input type="text" id="project_profile_system_name" value="" maxlength="30"/></td>
			</tr>
			<tr>
				<td class="layout">アプリケーション</td>
				<td class="layout"><input type="text" id="project_profile_application_name" value="" maxlength="30"/></td>
			</tr>
			<tr>
				<td class="layout">計測タイプ</td>
				<td class="layout">
					<select id="project_profile_mesurement_type">
					{% for itm in mesurement_type %}
						<option value="{{itm.0}}">{{itm.1}}</option>
					{% endfor %}
					</select>
					<img src='/images/help.gif' id="img_help_mesurment_type" border='0'/>
				</td>
			</tr>
		
		</table>
	</div>
	<table id="project_table" style="width:520px;table-layout: fixed;">
		<col width="20px;"/>
		<col width="200px;"/>
		<col width="200px;"/>
		<col width="100px;"/>
		<thead><tr><th></th><th>システム</th><th>アプリケーション</th><th>計測タイプ</th></tr></thead>
		<tbody></tbody>
	</table>
	<br/>
	<img src='/images/add_dat.gif' id="img_add_dat" border='0'/>
	<a href="javascript:;" id="add_data_function_btn">データファンクションの追加</a>
	<img src='/images/help.gif' id="img_data_function" border='0'/>
	|
	<img src='/images/add_trn.gif' id="img_add_trn" border='0'/>
	<a href="javascript:;" id="add_tran_function_btn">トランザクショナルファンクションの追加</a>
	<img src='/images/help.gif' id="img_tran_function" border='0'/>
	<table id="function_table" style="width:767px;table-layout: fixed;">
		<col width="200px;"/>
		<col width="240px;"/>
		<col width="80px;"/>
		<col width="80px;"/>
		<col width="80px;"/>
		<col width="80px;"/>
		<thead><tr><th>要素処理名 </th><th>区分</th><th>DET</th><th>RET/FTR</th><th>複雑度</th><th>FP</th></tr></thead>
		<tbody></tbody>
	</table>
	<div style="width:786px;border-left:#cccccc 1px solid;border-right:#cccccc 1px solid;border-bottom:#cccccc 1px solid;padding-right:17px;">
		<table id="function_total_table" style="width:767px;table-layout: fixed;">
			<col width="704px"/>
			<col width="80px"/>
			<tbody>
				<tr>
					<th style="text-align:right;">合計(未調整FP値)</th>
					<td id="unadjusted_fp_total"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<h2>調整係数の計算</h2>
	
	
	
	<div class="help_tips_text">
		<div id="txt_help_mesurement_steps">
			<span>計測の手順</span>
			<ol>
				<li>計測タイプの決定 
				<li>計測範囲の決定、アプリケーション境界の決定 
				<li>データファンクション計測 
				<li>トランザクショナルファンクション計測 
				<li>未調整ファンクションポイント計算 
				<li>調整係数計算 
				<li>調整済ファンクションポイント計算
			</ol>	
		</div>
		<div id="txt_help_mesurment_type">
			<table>
				<caption>計測タイプ</caption>
				<thead><tr><th>タイプ</th><th>概要</th></tr></thead>
				<tbody>
					<tr><td>新規開発FP計測(Development Project FP Counting)</td><td>ソフトウェアを新規導入時に適用</td></tr>
					<tr><td>機能拡張FP計測(Enhancement Project FP Counting)</td><td>既存のアプリケーションに対して、機能の追加/変更/削除により変更される部分の計測</td></tr>
					<tr><td>アプリケーションFP計測(Application FP Counting)</td><td>導入済みソフトウェアのFP値</td></tr>
				</tbody>
			</table>
		</div>
		
		<div id="txt_data_function">
			<table>
				<caption>ファイルの分類</caption>
				<thead><tr><th>ファイル</th><th>概要</th></tr></thead>
				<body>
					<tr><td>内部論理ファイル(Internal Logical File: ILF)</td><td>当該アプリケーションの操作対象</td></tr>			
					<tr><td>外部インターフェースファイル(External Interface File: EIF)</td><td>当該アプリケーションにより参照(操作はできない)</td></tr>
				</body>
			</table>
			<table>
				<caption>ファイル計測指標</caption>
				<thead><tr><th>指標</th><th>概要</th></tr></thead>
				<tbody>
					<tr><td>データエレメントタイプ(Data Element Type: DET)</td><td>ILFやEIFのユニークで繰り返しを含まないユーザーが識別可能なデータ項目</td></tr>
					<tr><td>レコードエレメントタイプ(Record Element Type: RET)</td><td>ILFやEIFに含まれるユーザー視点で見たデータのグループで、データ項目を構成する下位のデータグループ(サブグループ)</td></tr>
				</tbody>
			</table>
		</div>
		<div id="txt_tran_function">
			<table>
				<caption>要素処理の区分</caption>
				<thead><tr><th>区分</th><th>概要</th></tr></thead>
				<body>
					<tr><td>EI(外部入力)</td><td>境界の外部から入力されるデータ、制御情報の処理。1つ以上のILFを維持管理するかシステムの動作変更を行う</td></tr>
					<tr><td>EO(外部出力)</td><td>データの制御情報を境界外部へ出力。制御情報を処理ロジック(算術式、計算、派生データ生成のいずか必須)で提供。</td></tr>
					<tr><td>EQ(外部照会)</td><td>データや制御情報を境界外部へ出力。制御情報をILFやEIFから検索し提供。ロジックは算術式、計算、派生データ生成を含めない。ILFの維持管理、システムの動作変更不可。</td></tr>
				</body>
			</table>
			<table>
				<caption>データエレメントタイプとファイルタイプリファレンス </caption>
				<thead><tr><th>指標</th><th>概要</th></tr></thead>
				<tbody>
					<tr><td>データエレメントタイプ(Data Element Type: DET)</td><td>ユーザーが認識でき、繰り返しのないユニークな項目</td></tr>
					<tr><td>ファイルタイプリファレンス(File Type Reference: FTR)</td><td>トランザクションファンクションにより読み込まれるか維持管理されるILF。　または読み込まれるEIF</td></tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}