{% extends "base.html" %}
{% block html_header %}
	<script type="text/javascript"><!-- 
	$(document).ready(function(){

	});
	function create_new_project() {
		var url = "/functionpoint/createproject";

		var data = new Object();
		data['create_system_name'] = $("#create_system_name").val();
		data['create_application_name'] = $("#create_application_name").val();
		
		error_msg();
		processing_msg(PROCESSING_MSG);

		$.getJSON(url, data,
				function (json) {
					if (json.error) {
						error_msg(json.error);
					} else {
						error_msg(json.system_name + json.application_name);
						
					}
					processing_msg();
				}
		);
	}
	function show_project_profile(is_display) {
		if (is_display) {
			$("#new_project_profile").show("normal");
		} else {
			$("#new_project_profile").hide("normal");
		}
	}
	//--></script>
	<title></title>
{% endblock %}
{% block content %}
	<a href="javascript:show_project_profile(true);">new project</a>
	<div id="new_project_profile" style="display:none;width:200px;">
		system name:<input type="text" id="create_system_name" value="" />
		application name:<input type="text" id="create_application_name" value="" />
		<input type="button" value="create" onclick="javascript:create_new_project();"/>
		<input type="button" value="close" onclick="javascript:show_project_profile(false);"/>
	</div>
{% endblock %}