{% extends "base.html" %}


{% block sidebar %}
<h1></h1>

<ul>
  <li><a href="/">メインサイト</a></li>
  <li><a href="{% url views.admin.get_help %}">ヘルプ</a></li>
</ul>

<h1>ページ</h1>
<ul>
  <li><a href="{% url views.admin.index %}">サイトマップ</a></li>
  <li><a href="{% url views.admin.recently_modified %}">最近の編集</a></li>
  <li><a href="{% url views.admin.new_page None %}">ページの作成</a></li>
  <li><a href="{% url views.admin.edit_sidebar %}">サイドバーの編集</a></li>
</ul>

<h1>ユーザー</h1>
<ul>
  <li><a href="{% url views.admin.filter_users %}">ユーザーリスト</a></li>
  <li><a href="{% url views.admin.list_groups %}">グループリスト</a></li>
  <li><a href="{% url views.admin.edit_user None %}">ユーザーを探す</a></li>
  <li><a href="{% url views.admin.bulk_edit_users %}">ユーザーの一括編集</a></li>
</ul>

{% endblock %}


{% block tracking %}{% endblock %}
