<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="/css/typea-utils.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="/js/jquery-1.4.1.min.js"></script>
	<script type="text/javascript">
	</script>
	{% block html_header %}
	{% endblock %}
</head>
<body>
	<div id="logo"><a href="/">Small Utilities</a></div>
	<div id="headbar">
	|
	</div>
	<div id="sidebar">
		<ul>
			<li><a href="/convchar">文字変換</a></li>
		</ul>
	</div>
	<div id="content">
		{% block content %}
		{% endblock %}
		<div id="footerbar">
			<!-- MicroAd from -->
			<script type="text/javascript"><!--
			in_uid = '217910';
			in_templateid = '15033';
			in_charset = 'UTF-8';
			in_group = 'GoogleApps';
			in_matchurl = '';
			in_HBgColor = 'FFFFFF';
			in_HBorderColor = 'FFFFFF';
			in_HTitleColor = '663399';
			in_HTextColor = '000000';
			in_HUrlColor = '336600';
			frame_width = '728';
			frame_height = '90';
			--></script>
			<script type='text/javascript' src='http://cache.microad.jp/send0100.js'></script>
			<!-- MicroAd To -->
			<hr/>
			<div>
				contact to <a href="http://twitter.com/pppiroto">http://twitter.com/pppiroto</a>
			</div> 
		</div>
	</div>
	<div id="loading" style="display:none"></div>
	<div id="message" style="display:none"></div>

	<!--  Google Analytics Tracking Code -->
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-3022275-3");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>