{% extends "base.html" %}
{% block html_header %}
	<script type="text/javascript"><!-- 
	$(document).ready(function(){
		$("#conv_to_code_btn").click(
				function() {
					var src = $("#txt_src").text();
					var result = "";
					for (var i=0; i<src.length; i++) {
						result += ("&#" + src.charCodeAt(i) + ";");
					}
					$("#txt_dst").text(result);
					$("#panel_result").html(result);
				});
	});
	//--></script>
	<title></title>
{% endblock %}
{% block content %}
	<div id="convert_to_charcode_panel">
		<p>入力された文字をUnicode表現に変換</p>
		<textarea id="txt_src" rows="3" cols="30"></textarea>
		<input type="button" id="conv_to_code_btn" value="-&gt;"/>
		<textarea id="txt_dst" rows="3" cols="30"></textarea>
		<div id="panel_result" style="font-size:small;"></div>
	</div>
	
{% endblock %}